BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Allman

PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

SortIncludes: true